@import '../css/reset.css';
@import '../css/normalize.css';

$fontSize16: 16px;
$fontSize18: 18px;

body {
	background: #ededed;
}

/*
* Header
*/
.app-wrap .header-topbar {
	width: 100%;
	background: #ff0000;
}

.header-topbar .container {
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	.topbar-logo {
		float: left;
		background: url(~assets/images/logo@2x.png) no-repeat 50%;
		background-size: cover;
		width: 166px;
		height: 39px;
		margin-top: 35px;
	}
	.topbar-tabs {
		float: right;
		height: 110px;
		line-height: 110px;
		font-size: $fontSize16;
		a {
			display: inline-block;
			margin-right: 96px;
      cursor: pointer;
      color: #fff;
      opacity: .5;
			&.active {
        cursor: pointer;
        color: #fff;
        opacity: 1;
				font-weight: bold;
			}
			&:hover {
				cursor: pointer;
        color: #fff;
        opacity: 1;
			}
			&:last-child {
				margin-right: 114px;
      }
    }
  }
  .topbar-button {
    float: right;
    width: 123px;
    height: 52px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    background-image: url(~assets/images/button.png);
    background-image: -webkit-image-set(url(~assets/images/button.png) 1x,url(~assets/images/button@2x.png) 2x);
    background-size: cover;
	}
	.topbar-button.en {
    float: right;
    width: 120px;
    height: 48px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    background-image: url(~assets/images/en/buy-btn.png);
    background-image: -webkit-image-set(url(~assets/images/en/buy-btn.png) 1x,url(~assets/images/en/buy-btn@2x.png) 2x);
    background-size: cover;
  }
}

/*
* Footer
*/
.app-wrap .footer {
	width: 100%;
	background-color:#ff0000;
}

.footer .container {
	position: relative;
	width: 1200px;
	padding-bottom: 40px;
	margin: 0 auto;
}

.footer {
	text-align: center;
	.footer-share {
		// margin-bottom: 45px;
	}
	.share-icons {
		display: inline-block;
		&.wechat {
			width: 39px;
			height: 33px;
			margin-right: 50px;
			background-position: center;
			background-size: cover;
			// background-image: url(~assets/images/wechat_unfocus.png);
			// background-image: -webkit-image-set(url(~assets/images/wechat_unfocus.png) 1x,url(~assets/images/wechat_unfocus@2x.png) 2x);
			&.active {
				// background-image: url(~assets/images/wechat_focus.png);
				// background-image: -webkit-image-set(url(~assets/images/wechat_focus.png) 1x,url(~assets/images/wechat_focus@2x.png) 2x);
			}
		}
		&.weibo {
			width: 40px;
			height: 37px;
			background-position: center;
			background-size: cover;
			// background-image: url(~assets/images/weibo_unfocus.png);
			// background-image: -webkit-image-set(url(~assets/images/weibo_unfocus.png) 1x,url(~assets/images/weibo_unfocus@2x.png) 2x);
			&.active {
				// background-image: url(~assets/images/weibo_focus.png);
				// background-image: -webkit-image-set(url(~assets/images/weibo_focus.png) 1x,url(~assets/images/weibo_focus@2x.png) 2x);
			}
		}
	}
	// .footer-qrcode {
	// 	position: absolute;
	// 	width: 317px;
	// 	height: 305px;
	// 	top: 10px;
	// 	right: 0;
	// 	left: -450px;
	// 	margin: 0 auto;
	// 	opacity: 0;
	// 	transition: all .15s ease-out;
	// 	z-index: 15;
	// 	background-position: center;
	// 	background-size: cover;
	// 	background-image: url(~assets/images/qr-code.png);
	// 	background-image: -webkit-image-set(url(~assets/images/qr-code.png) 1x,url(~assets/images/qr-code@2x.png) 2x);
	// 	&.footer-qrcode-anim {
	// 		opacity: 1;
	// 	}
	// }
	.footer-title {
    display: inline-block;
		color: #fff;
		font-size: 15px;
    line-height: 1;
    opacity: .85;
    margin-bottom: 20px;
    transition: all .35s ease-out;
    &:hover {
      opacity: 1;
    }
	}
	.footer-info {
		line-height: 1;
		margin-bottom: 20px;
		font-size: 0;
		li {
			position: relative;
			display: inline-block;
			font-size: 14px;
			color: #fff;
      margin-right: 30px;
      opacity: .85;
			&:after {
				position: absolute;
				content: "";
				width: 1px;
				height: 14px;
				background: #fff;
				right: -15px;
			}
			a {
        color: #fff;
			}
			a:hover {
				opacity: 1;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	.copyright {
		clear: both;
		font-size: 0;
		li {
			position: relative;
			display: inline-block;
			line-height: 1;
			font-size: 12px;
			color: #fff;
			margin-right: 30px;
			&:after {
				position: absolute;
				content: "";
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background: #fff;
				top: 5px;
				right: -15px;
			}
		}
		li:last-child {
			&:after {
				content: none;
			}
		}
		a {
			color: #fff;
		}
	}
}
